.profile {
    display: flex;
    margin-block-start: 2rem;
}

.profile .person { 
    inline-size: 10.375rem;
    block-size: 10.375rem;
    box-sizing: border-box;
    padding: 0;
}

.profile .person .person-tag {
    padding: 0;
    inline-size: 10.375rem;
    block-size: 10.375rem; 
}

.profile .person .story {
    inline-size: 100%;
    block-size: 100%;
}

.profile-description {
    inline-size: 100%;
}

.profile .profile-action {
    inline-size: 100%;     
    display: flex;
    padding-block: 1rem;
    gap: 8rem;
    padding-inline-start: 0; 
}

.profile .profile-status {
    display: flex;
    gap: 5rem;
    margin-block-end: 1rem;
}

.profile .profile-status span {
    font: var(--DemiBold);
}

.profile .profile-action >* , 
.profile-description p {
    margin: 0;
}

.profile .profile-action  h1 {
    font: var(--DemiTitle);
}

